body {
  margin: 0;
  padding: 0;
  background: #EEE;
  font: 12px/170% Arial, Sans;
  color: #333;
}
 
input {
  font: 12px/100% Arial, sans-serif;
  color: #494949;
}
 
textarea, select {
  font: 12px/160% Arial, sans-serif;
  color: #494949;
}
 
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #444;
}
 
h1 {
  font-size: 170%;
}
 
h2 {
  font-size: 160%;
  line-height: 130%;
}
 
h3 {
  font-size: 140%;
}
 
h4 {
  font-size: 130%;
}
 
h5 {
  font-size: 120%;
}
 
h6 {
  font-size: 110%;
}
 
ul, quote, code, fieldset {
  margin: .5em 0;
}
 
p {
  margin: 10px 0;
  padding: 0;
}
 
a:link, a:visited {
  color: #aa0000;
  text-decoration: none;
}
 
a:hover {
  color: #CC0000;
  text-decoration: underline;
}
 
a:active, a.active {
  color: #CC0000;
}
 
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}
 
ul {
  margin: 0.5em 0 1em;
  padding: 0;
}
 
ul li {
  margin: 0.4em 0 0.4em 0;
}
 
img, a img {
  border: none;
}

imgcert{
	position:relative;
	padding:0;
}
imgcert:hover{
	background:transparent;
}
imgcert span{
	display: none;}
imgcert:hover span{
	display:block;
	position:absolute;
	width:230px;
	top:3em;
	right-align:justify;
	left:0;
	border:1px solid #999;
	background:#EEE;
	font: 12px/160% Arial, sans-serif;
	color: #494949;
}